---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.svelte';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Blog" desc="Om's Blog,Welcome to the blog You can find my thoughts here about seemingly random topics">
    <img src="/line1.svg" class="h-full object-cover min-w-[4px] w-[6px] mix-blend-overlay left-2 absolute md:left-[25vw]">
    <a class="top-3 left-3 absolute font-['VT323'] text-[#91A4F8] tracking-wider text-lg z-10 cursor-pointer" href="/">< Back</a>
    <main class="w-full h-full overflow-auto absolute flex flex-col gap-5">
        <div class="min-h-[10%]"></div>
                {
                    posts.map((post) => (
                        <div class="flex flex-row items-center"><img class="mix-blend-overlay object-cover rounded-xl min-h-[4px] max-h-[6px] translate-x-2 md:translate-x-[25vw] w-[15vw]" src="/line2.svg"><span class="translate-x-2 md:translate-x-[25vw] font-['Dongle'] text-3xl opacity-75 text-white pl-[0.5vw] pr-[2vw] whitespace-nowrap">{post.data.pubDate.toLocaleString('default',{day:'2-digit',month:'long'})}</span><a href={`/blog/${post.slug}/`} class="translate-x-2 md:translate-x-[25vw] font-['Dongle'] text-[2.5rem] text-white pr-4 whitespace-nowrap max-w-[73vw] md:max-w-[43vw] overflow-hidden text-ellipsis">{post.data.title}.</a></div>
                    ))
                }
    </main>
</Layout>

<style>
    @keyframes fadein{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    .fadein{
        animation: fadein 700ms 500ms forwards ease-out;
    }
</style>
