---
import Layout from '../layouts/Layout.astro';
import Salut from '../components/Salut.svelte';
import Intro from '../components/Intro.svelte';
import Social from '../components/Social.astro';
import Song from '../components/Song.svelte';
import Cred from '../components/Cred.astro';
import Nav from '../components/Nav.svelte';
import Track from '../components/Track.svelte';
import Butterfly from '../components/Butterfly.svelte';
import Notif from '../components/Notif.astro';
import NotifWrap from '../components/NotifWrap.svelte';
import Book from '../components/Book.svelte';
import ConAbout from '../components/ConAbout.astro';
import Link from '../components/Link.astro';
---
<Layout title="Om's Cloud" desc="Hey! I am Om,Welcome to My Cloud on the internet.">
	<Butterfly client:only />
	<Nav client:visible />
	<main class="w-[80%] md:h-[80%] landscape:h-[80%] opacity-0 fadein m-0 flex flex-col md:flex-row landscape:flex-row max-w-full transition-opacity duration-700 ease-out">
		<NotifWrap client:only
		href="https://om-thorat.github.io/blog/lis/">
		<Notif
		title="Hey,"
		body="I am still hung up on life is strange."
		img = "/iconlis.png"
		/>
		</NotifWrap>
		<div class="flex flex-col justify-center w-full md:m-[3rem] md:mt-[3rem] mt-[2rem]">
		<Salut client:visible />
		<img src="/name.svg" alt="Om Thorat" class="w-full landscape:w-2/3 md:w-2/3 object-contain pt-7">
		<Intro client:visible />
		<ConAbout>
			In the end Just an average person stumbling through life. building Silly little websites 🎈,
		</ConAbout>
		<ConAbout>
			For side quests currently reading <Link href="https://www.goodreads.com/book/show/1885.Pride_and_Prejudice" link="Pride & Prejudice" />  and foraging in <Link href="https://store.steampowered.com/app/413150/Stardew_Valley/" link="Stardew Valley" />,
		</ConAbout>
		<ConAbout>
			Feel free to snoop around checkout some <Link href="/projects" link="projects" /> read my <Link href="/blog" link="blog" /> or send me an <Link href="mailto:thoratom1104@gmail.com" link="Owl!" />
		</ConAbout>
		</div>
		<div class="py-8 md:w-1/2 landscape:w-1/2 landscape:h-auto md:h-auto z-10 flex items-center justify-center">
			<Song client:visible />
		</div>

	</main>
	<footer class="h-fit w-full pt-2 md:pt-0 md:w-[80%] md:px-[1.5rem] flex items-center flex-col md:flex-row landscape:flex-row">
		<Social />
		<Cred />
	</footer>
	<Track client:only />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
