---
import Layout from '../layouts/Layout.astro';
import Salut from '../components/Salut.svelte';
import Intro from '../components/Intro.svelte';
import About from '../components/About.astro';
import Social from '../components/Social.astro';
import Song from '../components/Song.svelte';
import Cred from '../components/Cred.astro';
import Nav from '../components/Nav.svelte';
import Track from '../components/Track.svelte';
import Butterfly from '../components/Butterfly.svelte';
import Notif from '../components/Notif.astro';
import NotifWrap from '../components/NotifWrap.svelte';
---
<Layout title="Om's Cloud" desc="Hey! I am Om,Welcome to My Cloud on the internet.">
	<Butterfly client:only />
	<Nav client:visible />
	<main class="w-[80%] md:h-[80%] landscape:h-[80%] opacity-0 fadein m-0 flex flex-col md:flex-row landscape:flex-row max-w-full transition-opacity duration-700 ease-out">
		<NotifWrap client:only
		href="https://om-thorat.github.io/blog/lis/">
		<Notif
		title="Hey,"
		body="I am still hung up on life is strange."
		img = "/iconlis.png"
		/>
		</NotifWrap>
		<div class="flex flex-col justify-center w-full md:m-[3rem] md:mt-[3rem] mt-[2rem]">
		<Salut client:visible />
		<img src="/name.svg" alt="Om Thorat" class="w-full landscape:w-2/3 md:w-2/3 object-contain pt-7">
		<Intro client:visible />
		<!-- Yes this component isn't very good i'll fix it -->
		<About
		link= ""
		body="In the end Just an average person stumbling through life. building Silly little websites 🎈"
		link2 = ""
		body2 = ""
		link3 = ""
		body3 = ""
		href = "/"
		href2 = "/"
		href3 = "/"
		end = ","
		/>
		<About
		link= "the midnight library"
		href = "https://www.goodreads.com/book/show/52578297-the-midnight-library"
		body="For side quests currently reading "
		link2 = "Stardew Valley"
		href2="https://store.steampowered.com/app/413150/Stardew_Valley/"
		body2=" and foraging in "
		link3 = ""
		body3 = ""
		href3="/"
		end = ","
		/>
		<About
		link= "projects"
		href="/projects"
		body="Feel free to snoop around checkout some "
		body2 = " read my "
		link2 = "blog"
		href2 = "/blog"
		body3 = " or send me an "
		link3 = "Owl"
		href3="mailto:thoratom1104@gmail.com"
		end = "!"
		/>
		</div>
		<div class="py-8 md:w-1/2 landscape:w-1/2 landscape:h-auto md:h-auto z-10 flex items-center justify-center">
			<Song client:visible />
		</div>

	</main>
	<footer class="h-fit w-full pt-2 md:pt-0 md:w-[80%] md:px-[1.5rem] flex items-center flex-col md:flex-row landscape:flex-row">
		<Social />
		<Cred />
	</footer>
	<Track client:only />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
