---
/* Yes this is the bad component yes i'll fix* it */
export interface Props {
	link: string;
	href: string;
	body: string;
	link2: string;
	href2: string;
	body2: string;
	link3: string;
	href3: string;
	body3: string;
	end: string;
}

const { link, body,link2,body2,link3,body3,href,href2,href3,end } = Astro.props;
---

<div class="font-['Source_Sans_3'] pt-4 text-xl text-white italic tracking-[0.07em] max-w-[60ch]">
	{body}<a class="link" target="_blank" href={href ?? ""}>{link ?? ""}</a>{body2}<a target="_blank" class="link" href={href2 ?? ""}>{link2 ?? ""}</a>{body3}<a target="_blank" class="link" href={href3 ?? ""}>{link3 ?? ""}</a>{end}
</div>

<style>

	.link {
	@apply text-pink-400 cursor-pointer; 
	display: inline-block;
	position: relative;
	}

	.link::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	@apply bg-pink-400;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	}

	.link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
	}
</style>

 <!-- * Maybe -->