<div class="font-['Dongle'] w-[95%] pt-5 h-20 translate-x-3 -translate-y-4 md:translate-y-0 md:translate-x-0 md:pt-0 md:w-[33%] text-3xl text-[#91A4F8] text-center items-center justify-center flex flex-row gap-2 md:gap-3">
    <span class="w-fit whitespace-nowrap">Made With</span> <img class="h-fit scale-[66%] md:scale-100" alt="Astro" src="/astro.svg"> <img alt="Tailwind" class="h-fit scale-[66%] -translate-x-4 md:translate-x-0 md:scale-100" src="/Tailwind.svg" >
</div>

