<div class="font-['Dongle'] w-[33%] text-3xl text-[#91A4F8] text-center items-center justify-center flex flex-row gap-3">
    <span class="w-fit">Made With</span> <img src="astro.svg"> <img src="Tailwind.svg" >
</div>

