---
export interface Props {
	title: string;
	desc: string;
}

const { title,desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={desc}>
		<meta property="og:image" content="/name.svg" />
		<title>{title}</title>
	</head>
	<body class="w-screen h-[100%] relative md:h-[100svh] flex flex-col items-center max-w-[100%] md:overflow-clip">
		<div class="w-screen h-[100%] md:h-[100svh] absolute noise"></div>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;1,300;1,400&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


	a{
		text-decoration: none;
	}
	.coolscroll::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: transparent;
	}

	.coolscroll::-webkit-scrollbar
	{
		width: 10px;
		background-color: transparent;
	}

	.coolscroll::-webkit-scrollbar-thumb
	{
		background-color:#3631AC;
		border-radius: 30px;
	}
	.noise{
		opacity: 35%;
		background-blend-mode: overlay;
		background-image: url('/noisy.svg');
		mix-blend-mode: overlay;
		z-index: 0;
	}
	body{

		background: radial-gradient(103.31% 322.48% at -3.3% -3.31%, #A310A5 0%, #3631AC 40.22%, #291F71 69.36%, #200242 100%);
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media only screen and (max-width: 768px) {
	body {
		background: radial-gradient(315.55% 100% at 100% 0%, #A310A5 0%, #3631AC 52.5%, #200242 100%);
	}
	html{
		font-size: 1.2vh !important;
	}
}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		font-size: 1.2vw;
		margin: 0xp;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
